@model PhotoMagic.Program

@{
    ViewData["Title"] = "Ready";
}

<div class="container text-center">
    <div class="row">
        @await Html.PartialAsync("_navbarPartialView")
    </div> <div class="row">
        <p>Gotowy ?</p>
    </div>
    <div class="row">
        <p>Ustaw się na naszej </p>
        <p>ściance AI i wciśnij</p>
        <p>przycisk aparatu. Zrób</p>
        <p>zdjęcie i przejdź dalej.</p>
        <p>już teraz i zobacz, jakie</p>
        <p>efekty możesz uzyskać!</p>
    </div>
    <div class="row">
        <form asp-controller="PhotoMagic" asp-action="Camera" method="post">
            <button type="submit" class="btn btn-lg d-flex align-items-center">Click <span><i class="bi bi-camera2 d-flex mx-2 rounded-5 align-items-center bg-light justify-content-center"></i></span> </button>
        </form>
    </div>
    <div>
    </div>
</div>

